<a href="https://colab.research.google.com/github/ghjkdswe/Seavmey/blob/main/Charp_Seavmey_ADS_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
# Load the Excel file
df = pd.read_excel("/content/drive/MyDrive/NUM_Teaching_List_score_33_44(3).xlsx")

# Show first few rows
print(df.head(10))

   No.             ID          Last Name                   OB      Phone
0    1  NUMP330612209       VONG SOKMEAN  2006-04-09 07:00:04   89676442
1    2  NUMP330612659  KONG CHANREAKSMEY  2005-06-15 07:00:04   77494842
2    3  NUMP330611247           KIN TITA  2006-12-18 07:00:04  975915907
3    4  NUMP330613107          CHAN SENG  2006-09-29 07:00:04   81841584
4    5  NUMP330611927      CHARP SEAVMEY  2007-03-30 07:00:04   15603678
5    6  NUMP330611832    CHEA CHINGCHING  2007-03-04 07:00:04   93587414
6    7   NUMP33061820            DY RIYA  2007-07-15 07:00:04  964940632
7    8  NUMP330613240        TOM SIVNEAN  2007-01-02 07:00:04  968526154
8    9  NUMP330613419     THON SOTHAROTH  2006-05-26 07:00:04  965903078
9   10   NUMP33061564        TI VHICHEKA  2006-08-10 07:00:04   70252555

In [ ]:
# Extract column names automatically
cols = list(df.columns)
print("Detected Columns:", cols, "\n")

Detected Columns: ['No.', 'ID', 'Last Name', 'OB', 'Phone']

In [ ]:
# Step 2: Singly Linked List

class Node:
    def __init__(self, data):
        self.data = data
        self.next = None


class SinglyLinkedList:
    def __init__(self):
        self.head = None

    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        cur = self.head
        while cur.next:
            cur = cur.next
        cur.next = new_node

    def delete(self, key, col_name):
        cur = self.head
        if cur and cur.data[col_name] == key:
            self.head = cur.next
            return
        prev = None
        while cur and cur.data[col_name] != key:
            prev = cur
            cur = cur.next
        if cur:
            prev.next = cur.next

    def print_list(self):
        cur = self.head
        print("=== Singly Linked List ===")
        while cur:
            print(cur.data)
            cur = cur.next
        print()

In [ ]:
# Step 3: Doubly Linked List
# -------------------------------
class DNode:
    def __init__(self, data):
        self.data = data
        self.next = None
        self.prev = None


class DoublyLinkedList:
    def __init__(self):
        self.head = None

    def append(self, data):
        new_node = DNode(data)
        if not self.head:
            self.head = new_node
            return
        cur = self.head
        while cur.next:
            cur = cur.next
        cur.next = new_node
        new_node.prev = cur

    def print_forward(self):
        print("=== Doubly Linked List (Forward) ===")
        cur = self.head
        last = None
        while cur:
            print(cur.data)
            last = cur
            cur = cur.next
        print()
        return last

    def print_backward(self, last):
        print("=== Doubly Linked List (Backward) ===")
        cur = last
        while cur:
            print(cur.data)
            cur = cur.prev
        print()

In [ ]:
# Step 4: Circular Linked List
# -------------------------------
class CNode:
    def __init__(self, data):
        self.data = data
        self.next = None


class CircularLinkedList:
    def __init__(self):
        self.head = None

    def append(self, data):
        new_node = CNode(data)
        if not self.head:
            self.head = new_node
            new_node.next = self.head
            return
        cur = self.head
        while cur.next != self.head:
            cur = cur.next
        cur.next = new_node
        new_node.next = self.head

    def print_list(self):
        print("=== Circular Linked List ===")
        if not self.head:
            print("List is empty")
            return
        cur = self.head
        while True:
            print(cur.data)
            cur = cur.next
            if cur == self.head:
                break
        print("(Back to head)\n")

In [ ]:
# Step 5: Create lists from Excel data
# -------------------------------

# Convert each row to a dictionary for easier access
records = df.to_dict(orient="records")

# Create and fill the Singly Linked List
sll = SinglyLinkedList()
for record in records:
    sll.append(record)
sll.print_list()

# Example delete (if you have "Student_ID" column)
if "Student_ID" in cols:
    delete_key = df.iloc[0]["Student_ID"]  # delete first student
    sll.delete(delete_key, "Student_ID")
    print(f"After deleting Student_ID = {delete_key}:")
    sll.print_list()


# Create and fill the Doubly Linked List
dll = DoublyLinkedList()
for record in records:
    dll.append(record)
last = dll.print_forward()
dll.print_backward(last)

# Create and fill the Circular Linked List
cll = CircularLinkedList()
for record in records:
    cll.append(record)
cll.print_list()

=== Singly Linked List ===
{'No.': 1, 'ID': 'NUMP330612209', 'Last Name': 'VONG SOKMEAN', 'OB': '2006-04-09 07:00:04', 'Phone': 89676442}
{'No.': 2, 'ID': 'NUMP330612659', 'Last Name': 'KONG CHANREAKSMEY', 'OB': '2005-06-15 07:00:04', 'Phone': 77494842}
{'No.': 3, 'ID': 'NUMP330611247', 'Last Name': 'KIN TITA', 'OB': '2006-12-18 07:00:04', 'Phone': 975915907}
{'No.': 4, 'ID': 'NUMP330613107', 'Last Name': 'CHAN SENG', 'OB': '2006-09-29 07:00:04', 'Phone': 81841584}
{'No.': 5, 'ID': 'NUMP330611927', 'Last Name': 'CHARP SEAVMEY', 'OB': '2007-03-30 07:00:04', 'Phone': 15603678}
{'No.': 6, 'ID': 'NUMP330611832', 'Last Name': 'CHEA CHINGCHING', 'OB': '2007-03-04 07:00:04', 'Phone': 93587414}
{'No.': 7, 'ID': 'NUMP33061820', 'Last Name': 'DY RIYA', 'OB': '2007-07-15 07:00:04', 'Phone': 964940632}
{'No.': 8, 'ID': 'NUMP330613240', 'Last Name': 'TOM SIVNEAN', 'OB': '2007-01-02 07:00:04', 'Phone': 968526154}
{'No.': 9, 'ID': 'NUMP330613419', 'Last Name': 'THON SOTHAROTH', 'OB': '2006-05-26 07:00:04', 'Phone': 965903078}
{'No.': 10, 'ID': 'NUMP33061564', 'Last Name': 'TI VHICHEKA', 'OB': '2006-08-10 07:00:04', 'Phone': 70252555}

=== Doubly Linked List (Forward) ===
{'No.': 1, 'ID': 'NUMP330612209', 'Last Name': 'VONG SOKMEAN', 'OB': '2006-04-09 07:00:04', 'Phone': 89676442}
{'No.': 2, 'ID': 'NUMP330612659', 'Last Name': 'KONG CHANREAKSMEY', 'OB': '2005-06-15 07:00:04', 'Phone': 77494842}
{'No.': 3, 'ID': 'NUMP330611247', 'Last Name': 'KIN TITA', 'OB': '2006-12-18 07:00:04', 'Phone': 975915907}
{'No.': 4, 'ID': 'NUMP330613107', 'Last Name': 'CHAN SENG', 'OB': '2006-09-29 07:00:04', 'Phone': 81841584}
{'No.': 5, 'ID': 'NUMP330611927', 'Last Name': 'CHARP SEAVMEY', 'OB': '2007-03-30 07:00:04', 'Phone': 15603678}
{'No.': 6, 'ID': 'NUMP330611832', 'Last Name': 'CHEA CHINGCHING', 'OB': '2007-03-04 07:00:04', 'Phone': 93587414}
{'No.': 7, 'ID': 'NUMP33061820', 'Last Name': 'DY RIYA', 'OB': '2007-07-15 07:00:04', 'Phone': 964940632}
{'No.': 8, 'ID': 'NUMP330613240', 'Last Name': 'TOM SIVNEAN', 'OB': '2007-01-02 07:00:04', 'Phone': 968526154}
{'No.': 9, 'ID': 'NUMP330613419', 'Last Name': 'THON SOTHAROTH', 'OB': '2006-05-26 07:00:04', 'Phone': 965903078}
{'No.': 10, 'ID': 'NUMP33061564', 'Last Name': 'TI VHICHEKA', 'OB': '2006-08-10 07:00:04', 'Phone': 70252555}

=== Doubly Linked List (Backward) ===
{'No.': 10, 'ID': 'NUMP33061564', 'Last Name': 'TI VHICHEKA', 'OB': '2006-08-10 07:00:04', 'Phone': 70252555}
{'No.': 9, 'ID': 'NUMP330613419', 'Last Name': 'THON SOTHAROTH', 'OB': '2006-05-26 07:00:04', 'Phone': 965903078}
{'No.': 8, 'ID': 'NUMP330613240', 'Last Name': 'TOM SIVNEAN', 'OB': '2007-01-02 07:00:04', 'Phone': 968526154}
{'No.': 7, 'ID': 'NUMP33061820', 'Last Name': 'DY RIYA', 'OB': '2007-07-15 07:00:04', 'Phone': 964940632}
{'No.': 6, 'ID': 'NUMP330611832', 'Last Name': 'CHEA CHINGCHING', 'OB': '2007-03-04 07:00:04', 'Phone': 93587414}
{'No.': 5, 'ID': 'NUMP330611927', 'Last Name': 'CHARP SEAVMEY', 'OB': '2007-03-30 07:00:04', 'Phone': 15603678}
{'No.': 4, 'ID': 'NUMP330613107', 'Last Name': 'CHAN SENG', 'OB': '2006-09-29 07:00:04', 'Phone': 81841584}
{'No.': 3, 'ID': 'NUMP330611247', 'Last Name': 'KIN TITA', 'OB': '2006-12-18 07:00:04', 'Phone': 975915907}
{'No.': 2, 'ID': 'NUMP330612659', 'Last Name': 'KONG CHANREAKSMEY', 'OB': '2005-06-15 07:00:04', 'Phone': 77494842}
{'No.': 1, 'ID': 'NUMP330612209', 'Last Name': 'VONG SOKMEAN', 'OB': '2006-04-09 07:00:04', 'Phone': 89676442}

=== Circular Linked List ===
{'No.': 1, 'ID': 'NUMP330612209', 'Last Name': 'VONG SOKMEAN', 'OB': '2006-04-09 07:00:04', 'Phone': 89676442}
{'No.': 2, 'ID': 'NUMP330612659', 'Last Name': 'KONG CHANREAKSMEY', 'OB': '2005-06-15 07:00:04', 'Phone': 77494842}
{'No.': 3, 'ID': 'NUMP330611247', 'Last Name': 'KIN TITA', 'OB': '2006-12-18 07:00:04', 'Phone': 975915907}
{'No.': 4, 'ID': 'NUMP330613107', 'Last Name': 'CHAN SENG', 'OB': '2006-09-29 07:00:04', 'Phone': 81841584}
{'No.': 5, 'ID': 'NUMP330611927', 'Last Name': 'CHARP SEAVMEY', 'OB': '2007-03-30 07:00:04', 'Phone': 15603678}
{'No.': 6, 'ID': 'NUMP330611832', 'Last Name': 'CHEA CHINGCHING', 'OB': '2007-03-04 07:00:04', 'Phone': 93587414}
{'No.': 7, 'ID': 'NUMP33061820', 'Last Name': 'DY RIYA', 'OB': '2007-07-15 07:00:04', 'Phone': 964940632}
{'No.': 8, 'ID': 'NUMP330613240', 'Last Name': 'TOM SIVNEAN', 'OB': '2007-01-02 07:00:04', 'Phone': 968526154}
{'No.': 9, 'ID': 'NUMP330613419', 'Last Name': 'THON SOTHAROTH', 'OB': '2006-05-26 07:00:04', 'Phone': 965903078}
{'No.': 10, 'ID': 'NUMP33061564', 'Last Name': 'TI VHICHEKA', 'OB': '2006-08-10 07:00:04', 'Phone': 70252555}
(Back to head)

In [ ]:
for record in records:
  reverse_record = {}
  for key in reversed(record):
    reverse_record[key] = record[key]
  print(reverse_record)

{'Phone': 89676442, 'OB': '2006-04-09 07:00:04', 'Last Name': 'VONG SOKMEAN', 'ID': 'NUMP330612209', 'No.': 1}
{'Phone': 77494842, 'OB': '2005-06-15 07:00:04', 'Last Name': 'KONG CHANREAKSMEY', 'ID': 'NUMP330612659', 'No.': 2}
{'Phone': 975915907, 'OB': '2006-12-18 07:00:04', 'Last Name': 'KIN TITA', 'ID': 'NUMP330611247', 'No.': 3}
{'Phone': 81841584, 'OB': '2006-09-29 07:00:04', 'Last Name': 'CHAN SENG', 'ID': 'NUMP330613107', 'No.': 4}
{'Phone': 15603678, 'OB': '2007-03-30 07:00:04', 'Last Name': 'CHARP SEAVMEY', 'ID': 'NUMP330611927', 'No.': 5}
{'Phone': 93587414, 'OB': '2007-03-04 07:00:04', 'Last Name': 'CHEA CHINGCHING', 'ID': 'NUMP330611832', 'No.': 6}
{'Phone': 964940632, 'OB': '2007-07-15 07:00:04', 'Last Name': 'DY RIYA', 'ID': 'NUMP33061820', 'No.': 7}
{'Phone': 968526154, 'OB': '2007-01-02 07:00:04', 'Last Name': 'TOM SIVNEAN', 'ID': 'NUMP330613240', 'No.': 8}
{'Phone': 965903078, 'OB': '2006-05-26 07:00:04', 'Last Name': 'THON SOTHAROTH', 'ID': 'NUMP330613419', 'No.': 9}
{'Phone': 70252555, 'OB': '2006-08-10 07:00:04', 'Last Name': 'TI VHICHEKA', 'ID': 'NUMP33061564', 'No.': 10}